<div class="container-fluid">
    <div class="row header-row">
        <div class="col-lg-12">
            <div class="header-cont">
                <h2>Rewards List</h2>
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter Section-->
                <div class="filter-block box-radius">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]='rewardListForm'>
                                <div class="row">
                                    <div class="col-lg-3 offset-4">
                                        <mat-form-field class="filter-by-status">
                                            <mat-label>Filter by Reward Type</mat-label>
                                            <mat-select formControlName="filterByType"
                                                (selectionChange)="resetFilter()">
                                                <mat-option *ngFor="let options of filterByTypeOptions"
                                                    value="{{options.value}}">
                                                    {{options.title}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-2">
                                        <mat-form-field class="search-by">
                                            <mat-label>Search by</mat-label>
                                            <mat-select formControlName="searchBy" (selectionChange)="getSearch()">
                                                <mat-option value="title"> Rewards </mat-option>
                                                <mat-option value="publishDate"> Publish Date </mat-option>
                                                <mat-option value="resultDate"> Result Date </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <ng-container>
                                            <mat-form-field class="search-txtbox"
                                                [ngClass]="{'hide-elm': isShowDatePicker}">
                                                <mat-label>Enter {{getSearchTxt()}}</mat-label>
                                                <input matInput placeholder="Enter {{searchbyTxt}}" #searchTxtBox
                                                    formControlName="searchText" name="search-by">
                                            </mat-form-field>
                                        </ng-container>

                                        <ng-container *ngIf="isShowDatePicker">
                                            <mat-form-field class="search-txtbox">
                                                <mat-label>Enter {{getSearchTxt()}}</mat-label>
                                                <input matInput [matDatepicker]="myDatePicker" placeholder="MM/DD/YYYY"
                                                    #datePickerVal formControlName="datePickerVal" name="startDate"
                                                    (dateChange)="onDateChange(rewardListForm.get('datePickerVal').hasError('matDatepickerParse'))">
                                                <mat-datepicker-toggle *ngIf="isDatePicker()" matSuffix
                                                    [for]="myDatePicker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #myDatePicker></mat-datepicker>
                                                <mat-error
                                                    *ngIf="rewardListForm.get('datePickerVal').hasError('matDatepickerParse') && rewardListForm.get('datePickerVal').touched">
                                                    Please provide a valid date.
                                                </mat-error>
                                            </mat-form-field>
                                        </ng-container>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- Filter Section end-->
            </div>
        </div>
        <div class="gutter-space"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-result">
                    <div class="data-table-container" id="rewaredsList">

                        <table aria-describedby="rewaredsList" mat-table [dataSource]="dataSource" matSort>

                            <!--Rewards Column -->
                            <ng-container matColumnDef="title">
                                <th id="title" class="width-30-percent" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('title')" mat-sort-header> Rewards </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'title-' + i">
                                    <div class="row a-link">
                                        <div class="col-3">
                                            <span (click)="userAction({path: 'view'}, element)">
                                                <img class="list-thumbnail-img"
                                                    [src]="element.tileImage  ? element.tileImage: '../../../../assets/images/image-not-found.png'"
                                                    alt=''>
                                            </span>
                                        </div>
                                        <div class="col-9" style="padding-top: 26px; padding-left: 0px;">
                                            <span (click)="userAction({path: 'view'}, element)">
                                                {{element.title?.substring(0,20)}}
                                            </span>
                                            <span mat-raised-button *ngIf="element.title?.length > 20"
                                                [matTooltip]="element.title"
                                                aria-label="displays a tooltip when focused or hovered over">
                                                ....
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <!-- Type Column -->
                            <ng-container matColumnDef="rewardType">
                                <th id="rewardType" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('rewardType')" mat-sort-header> Type </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'rewardType-' + i"> {{element.rewardType}}</td>
                            </ng-container>

                            <!-- Created on Column -->
                            <ng-container matColumnDef="publishDate">
                                <th id="publishDate" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('publishDate')" mat-sort-header> Published On
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'publishDate-' + i"> {{element.publishDate | date: 'MM/dd/y'}} </td>
                            </ng-container>

                            <!-- Results Date Column -->
                            <ng-container matColumnDef="resultDate">
                                <th id="resultDate" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('resultDate')" mat-sort-header> Results On</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'resultDate-' + i"> {{element.resultDate | date: 'MM/dd/y'}}
                                </td>
                            </ng-container>

                            <!-- Days Left Column -->
                            <ng-container matColumnDef="daysLeft">
                                <th id="daysLeft" class="width-16-percent" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('daysLeftForClosing')" mat-sort-header>Days Left to Select
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'daysLeft-' + i" class="days-left">
                                    <span [ngClass]="{
                                        'less-than-3':element.daysLeft <=3 && element.daysLeft >= 0, 
                                        'closed': element.daysLeft < 0, 
                                        'on-going': element.daysLeft > 3
                                    }">{{element.daysLeft}}</span>
                                </td>
                            </ng-container>

                            <!-- Users Column -->
                            <ng-container matColumnDef="totalUser">
                                <th id="totalUser" mat-header-cell *matHeaderCellDef
                                    (click)="customSorting('totalUser')" mat-sort-header> Users </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'totalUser-' + i" class="pl-10">
                                    {{element.totalUser}}
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th id="actions" mat-header-cell *matHeaderCellDef class="action-cell" mat-sort-header>
                                    Action </th>
                                <td mat-cell *matCellDef="let row ; let i = index" [attr.id]="'actions-' + i">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let item of actionMenu"
                                            (click)="userAction(item, row)">
                                            <mat-icon>{{item['icon']}}</mat-icon>
                                            <span>{{item['name']}}</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <div *ngIf="!dataSource.data.length" class="no-record-found">
                            <span style="color: #4C356E; font-style: italic; display: inline-flex;">
                                <img alt='' style="margin-right: 5px;"
                                    src="../../assets/images/svg/record_not_found_info_icon.svg">
                                There are no records here at the moment.
                            </span>
                        </div>

                        <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons [length]="count"
                            (page)="handlePage($event)" aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>