@import "/src/app/scss/variables";

.grid-tabular-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    margin-left: 15px;
    margin-right: 15px;
}

.filter-section {
    background-color: $white;
    box-shadow: 0px 10px 15px $table-box-shadow-color;
    border-radius: 5px;
    opacity: 1;
    border: none;
}

table {
    width: 100%;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 15px $table-box-shadow-color;
    border-radius: 5px;
    opacity: 1;
    border: none;
}

table td[class*=col-],
table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}

th.mat-sort-header-sorted {
    color: black;
}

tr.mat-header-row {
    background: #E8E8E8 !important;
}

::ng-deep .mat-header-cell {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 0.875rem;
}

::ng-deep .mat-cell {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 0.875rem;
}

.table-bordered tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.table-bordered {
    border-collapse: collapse;
    border-bottom: 1px solid #d1d4d6 !important;
    width: 95%;
}

.dataTables_length label::after {
    content: 'Items per page';
}

.green-outline-btn {
    background-color: $white;
    border: 1px solid $green;
    border-radius: 25px;
    height: 44px;
    width: 100px;
    font-family: 'Ubuntu-Bold', sans-serif;
}

.green-btn {
    background-color: $green;
    color: $white;
    border-radius: 25px;
    width: 154px;
    height: 44px;
    margin-left: 85%;
}

.action-section {
    width: 55%;

    .mat-form-field {
        width: 100%;
    }
}

.search-action {
    width: 45%;
}

.page-label-header {
    position: absolute;
}

.custom-status {
    width: 80%;
    cursor: auto;
}

.app-btn.filled.large {
    min-width: 11rem;
    float: right !important;
}

.action-button-col {
    display: flex;
    flex-direction: row;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $green !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $green ;
}

.pr-10 {
    padding-right: 10px;
}