<div class="container-fluid">
    <div class="row inner-header-row">
        <div class="col-lg-12">
            <h3>
                <mat-icon class="cursor-p" routerLink="/manage-students">arrow_back</mat-icon> Manage Student
            </h3>
        </div>
        <div class="col-lg-12 header-text">
            Bulk Upload
        </div>
        <form [formGroup]="bulkForm">
            <div class="container-wrapper">
                <div class="col-lg-12 col-xs-12 file-sub-container">
                    <div class="col-lg-8 file-upload-container">
                        <input name="file" type="file"  #fileUpload class="file-input" [accept]="requiredFileType"
                            (change)="onFileSelected($event)" (click)="handleClick($event)"> 
                        <img [src]="localUrl" *ngIf="localUrl" class="imgPlaceholder" alt=''>
                        <div class="file-upload">
                            <button class="upload-btn" (click)="fileUpload.click()" *ngIf="displayField">
                                Browse...
                            </button>
                            {{fileName || "No files selected."}}
                        </div>
                    </div>
                    <div class="col-lg-4 button-container">
                        <button class="app-btn unfilled green-b cancel-btn" (click)="cancel()">Cancel</button>
                        <button  class="app-btn filled green-bg cancel-btn" [disabled]="!fileName" (click)="upload()">Upload</button>

                    </div>
                </div>
                <div class="note-text mt-4">
                    Please download the latest template from the given link.
                    <span>
                        <a href="../../../../../assets/documents/Student-template.csv">Student Data Template</a>
                        <mat-icon (click)="bulkUploadValidations('Validation Criteria',{})">info_outline</mat-icon>
                    </span>

                </div>
            </div>
        </form>
        <div class="gutter-space"></div>
        <div class="col-lg-12">
            <app-bulk-upload-list></app-bulk-upload-list>
        </div>
    </div>
</div>