@import "/src/app/scss/variables";

.main-container {
  position: fixed;
  height: 100%;
  // width: 50%;
}

.image-div {
  margin: -10px;
}

.soucs-logo {
  width: 250px;
  height: 60px;
  opacity: 1;
  margin-top: 2%;

  @media screen and (max-width:768px) {
    margin-top: 4%;
  }

  @media screen and (min-width:2200px) {
    margin-top: 8%;
  }
}

.welcome-text {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 4%;

  &.reset {
    line-height: 1;
  }

  @media screen and (max-width:768px) {
    margin-top: unset;
  }
}

// .note-text {
//   color: $gray-note;
//   text-align: center;
//   @media screen and (min-width:768px) {
//     margin-top: 6%;
//     margin-bottom: 3%;
//   }
// }
.login-field {
  width: 50%;
  margin: auto;

  //margin-top: 2%;
  @media screen and (max-width:768px) {
    width: 100%;
    margin-top: unset;
  }
}

label {
  display: flex;
  color: $gray-note;
}

.forgot-text {
  color: $green;
  text-align: end;
  cursor: pointer;

}

.info-btn {
  margin-top: 20px;

  a {
    cursor: pointer;
  }
}

.suggestion-div {
  width: 50%;
  margin: auto;

  @media screen and (max-width:768px) {
    width: unset;
  }
}

.image-text {
  position: absolute;
  top: 70%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: $white;
}

.image-text-second {
  position: absolute;
  top: 70%;
  left: 19%;
  transform: translate(-50%, -50%);
  color: $white;
}

.mat-form-field {
  width: 100%;
}

.login-btn {
  margin-top: 3%;
}

.note-text {
  color: $gray-note;
  text-align: center;
}

.note-text-second {
  margin-bottom: 3%;
}

.bottom-space {
  margin-top: 6%;
}

.tick-logo {
  width: 11%;
  height: 15%;

  @media screen and (max-width:768px) {
    width: 20%;
  }
}

.tick-div {
  justify-content: center;
  margin-top: 10%;
}

.mat-icon {
  color: $light-gray;
}

.back-btn {
  margin-top: 20%;

  @media screen and (max-width:768px) {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width:1280px) {
  .login-part-div {
    margin-top: 10vh;
  }
}

.left-panel {
  background: transparent linear-gradient(145deg, #170236 0%, #29856C 100%) 0% 0% no-repeat padding-box;
}

.left-panel .panel-content {
  color: white;
  text-align: center;
  padding-top: 70%;
}

:host ::ng-deep {
  .popover {
    position: absolute;
    max-width: 600px !important;
    top: -25px !important;
    border-radius: 20px;
    .popover-arrow {
      position: absolute;
    }
  }

  .popover-body {
    width: 550px;
  }
}