<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 main-container">
      <div class="middle-div">
        <div class="row mb-2">
          <img src="../../../../assets/images/soucs-logo.svg" class="soucs-logo" alt="SOUCS">
        </div>
        <div class="row mt-5">
          <div class="welcome-text">Welcome to</div>
        </div>
        <div class="row mt-4">
          <div class="welcome-text trademark">Special Olympics Unified Champion Schools</div>
        </div>
      </div>
      <div class="button-div col-lg-12 col-xs-12">
        <div class="card-box col-xs-12">
          <div class="row mt-5">
            <img src="../../../../assets/images/logo mark.svg" class="card-image" alt="SOUCS">
          </div>
          <div class="row">
            <button class="app-btn filled green-bg large-btn mt-5 admin-picker-btn" (click)="login()">
              SOUCS Admin
            </button>
          </div>
        </div>
        <div class="card-box spacing col-xs-12">
          <div class="row mt-5">
            <img src="../../../../assets/images/cap.svg" class="card-image" alt="SOUCS">
          </div>
          <div class="row">
            <button class="app-btn unfilled green-b large-btn mt-5 admin-picker-btn" routerLink="/auth/login">School Admin</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>