.edit-btn-container {
    text-align: right;
    padding-right: 3%;

    .edit-btn {
        color: #29856C;
        display: inline-flex;

        img {
            margin-right: 10px;
        }
    }
    .archive-btn {
        color: #E61E25;
        display: inline-flex;

        img {
            margin-right: 10px;
        }
    }
}
.status-padding {
    padding: 5px 15px;;
}
.p
   {
   white-space: normal;
   overflow-wrap: break-word;
   }