<div class="container-fluid">
    <div class="row header-row">
        <div class="col-lg-12">
            <div class="header-cont">
                <h2>Challenge Abuse</h2>
            </div>
        </div>
    </div>
    <div class="sub-container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter Section-->
                <div class="filter-block box-radius">
                    <div class="row">
                        <div class="col-lg-12">
                            <form [formGroup]='challengeAbuseForm'>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <mat-form-field class="filter-by-status">
                                            <mat-label>Filter by Challenge</mat-label>
                                            <mat-select formControlName="filterByChallengeId"
                                                (selectionChange)="resetFilter()">
                                                <mat-option *ngFor="let challengeList of challengeAbuseOptions"
                                                    value="{{challengeList.challengeId}}">
                                                    {{challengeList.title}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <!-- Status filter -->
                                    <div class="col-lg-3">
                                        <mat-form-field>
                                            <mat-label>Filter by Status</mat-label>
                                            <mat-select formControlName="filterByStatus"
                                                (selectionChange)="resetFilter()">
                                                <mat-option value="All">All</mat-option>
                                                <mat-option value="Active">Active</mat-option>
                                                <mat-option value="Archived">Archived</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-3">
                                        <mat-form-field class="search-by">
                                            <mat-label>Search by</mat-label>
                                            <mat-select formControlName="searchBy" (selectionChange)="getSearch()">
                                                <mat-option *ngFor="let option of searchOptions"
                                                    value="{{option.query}}">
                                                    {{option.text}} </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field class="search-txtbox">
                                            <mat-label>Enter {{getSearchTxt()}}</mat-label>
                                            <input matInput placeholder="Enter {{searchbyTxt}}" #searchTxtBox
                                                formControlName="searchText" name="search-by">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- Filter Section end-->
            </div>
        </div>
        <div class="gutter-space"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-result">
                    <div class="data-table-container" id="challengeAbuseList">

                        <table aria-describedby="challengeAbuseList" mat-table [dataSource]="dataSource" matSort>

                            <!--Challenge Name Column -->
                            <ng-container matColumnDef="challengeName">
                                <th id="challengeName" class="width-20-percent" mat-header-cell *matHeaderCellDef
                                    mat-sort-header (click)="customSorting('title')"> Challenge Name </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'challengeName-' + i">
                                    <span class="a-link" (click)="userAction({path: 'view'}, element)">
                                        {{element.challengeName.substring(0, 20)}}
                                    </span>
                                    <span mat-raised-button *ngIf="element.challengeName.length > 20"
                                        [matTooltip]="element.challengeName"
                                        aria-label="displays a tooltip when focused or hovered over">
                                        ...
                                    </span>
                                </td>
                            </ng-container>

                            <!-- Email Column -->
                            <ng-container matColumnDef="email">
                                <th id="email" mat-header-cell *matHeaderCellDef mat-sort-header
                                    (click)="customSorting('email')"> Email </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'email-' + i"> {{element.email.substring(0, 15)}}
                                    <span mat-raised-button *ngIf="element.email.length > 10"
                                        [matTooltip]="element.email"
                                        aria-label="displays a tooltip when focused or hovered over">
                                        ...

                                    </span>

                                </td>
                            </ng-container>

                            <!-- Reported By Column -->
                            <ng-container matColumnDef="reportedBy">
                                <th id="reportedBy" mat-header-cell *matHeaderCellDef mat-sort-header
                                    (click)="customSorting('reported_by')"> Reported By </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'reportedBy-' + i"> {{element.reportedBy}} </td>
                            </ng-container>

                            <!-- Reported Date Column -->
                            <ng-container matColumnDef="creation_time">
                                <th id="creation_time" mat-header-cell *matHeaderCellDef mat-sort-header
                                    (click)="customSorting('creation_time')"> Reported Date
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'creation_time-' + i" class="pl-15"> {{element.creation_time | date:
                                    'MM/dd/Y'}}
                                </td>
                            </ng-container>

                            <!-- Reason Column -->
                            <ng-container matColumnDef="reason">
                                <th id="reason" class="width-18-percent" mat-header-cell *matHeaderCellDef
                                    mat-sort-header (click)="customSorting('reason')"> Reason </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'reason-' + i"> {{element.reason.substring(0, 20)}}
                                    <span mat-raised-button *ngIf="element.reason.length > 20"
                                        [matTooltip]="element.reason"
                                        aria-label="displays a tooltip when focused or hovered over">
                                        ...
                                    </span>
                                </td>
                            </ng-container>

                            <!-- status Column -->
                            <ng-container matColumnDef="status">
                                <th id="status" mat-header-cell *matHeaderCellDef mat-sort-header
                                    (click)="customSorting('status')"> Status </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.id]="'status-' + i">
                                    <button [ngClass]="{'status-active' : (element.status=='Active'),
                                         'status-deactive' : element.status=='Archived'}">
                                        {{element.status}}
                                    </button>
                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="actions">
                                <th id="actions" mat-header-cell *matHeaderCellDef class="action-cell"> Action </th>
                                <td mat-cell *matCellDef="let row ; let i = index" [attr.id]="'actions-' + i">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item *ngFor="let item of actionMenu"
                                            (click)="userAction(item, row)">
                                            <mat-icon>{{item['icon']}}</mat-icon>
                                            <span>{{item['name']}}</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <div *ngIf="!dataSource.data.length" class="no-record-found">
                            <span style="color: #4C356E; font-style: italic; display: inline-flex;">
                                <img alt='' style="margin-right: 5px;"
                                    src="../../assets/images/svg/record_not_found_info_icon.svg">
                                There are no records here at the moment.
                            </span>
                        </div>

                        <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons [length]="count"
                            (page)="handlePage($event)" aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>