@import "/src/app/scss/variables";
table {
    width: 100%;
}

.status-active {
    background: #DDFDF4 0% 0% no-repeat padding-box;
    border-radius: 13px;
    border: none;
    color: #267D66;
    text-transform: capitalize;
    width: 65%;
    cursor: auto;
}
.status-deactive {
    background: #E8E8E8 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color:#666666;
    text-transform: capitalize;
    border: none;
    width: 75%;
    cursor: auto;
}
.status-pending {
    background: #F4EED3 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color:#806A00;
    text-transform: capitalize;
    border: none;
    width: 75%;
    cursor: auto;
}

.red-second {
    color: $red-second !important;
}
.width-30-percent {
    width: 30%;
}