<!-- Dashboard for Soucs admin -->
<div class="grid-container ml-3">
  <h2>Dashboard</h2>
  <app-dashboard-widgets></app-dashboard-widgets>

  <div class="row">
    <div class="col-md-6 div-container left-div">
      <app-monthly-registration></app-monthly-registration>
    </div>

    <div class="col-md-6 div-container right-div">
      <app-notification-widget></app-notification-widget>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12 p-0">
      <app-dashboard-schools-users></app-dashboard-schools-users>
    </div>
  </div>
  
  <!-- Top 10 rewards and top 10 rewards applicants -->
  <div class="row mt-2">
    <div class="col-md-12 p-0">
      <app-rewards-widget></app-rewards-widget>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 div-container left-div">
      <app-badges-earned></app-badges-earned>
    </div>
    <div class="col-md-6 div-container right-fiv">
      <app-challenges></app-challenges>
    </div>
  </div>
  
  
</div>