.container-fluid {
    margin-top: 5px;
    .video-player-wrapper {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .close-btn {
        color: #fff;
        padding: 0px 10px;
        cursor: pointer;
    }
    
    .video-title {
        color: #fff;
    }
    
}

::ng-deep.dialog-panel .mat-dialog-container {
    background-color: #000;
    overflow: hidden;
    padding-top: 0px;
    min-width: 320px;
    min-height: 240px;
}