<div class="justify-content-center row">
    <img src="../../../../assets/images/soucs-logo.png" class="soucs-logo" alt="SOUCS">
</div>
<div class="top-space row mt-2" *ngIf="!isFormSubmitted">
    <span class="welcome-text">Forgot Your Password?</span>
    <span class="note-text mt-3">Don’t worry. Resetting your password is easy,</span>
    <span class="note-text note-text-second">just tell us the email address you registered with us.</span>
</div>
<form [formGroup]="forgotPasswordForm" *ngIf="!isFormSubmitted">
    <div class="row top-space text-center ">
        <div class="col-md-12 login-field">
            <div class="row">
                <div class="col-md-12 form-group-margin">
                    <mat-form-field class="example-full-width">
                        <mat-label class="mat-label">Email</mat-label>
                        <input type="email" matInput formControlName="username" placeholder="Email" required>
                        <mat-error *ngIf="getFieldR('username') && getFieldR('username').invalid && getFieldR('username').touched">
                            Please provide valid email.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-space text-center login-field">
        <button class="app-btn filled green-bg login-btn"(click)="submit()">Send</button>
    </div>
    <div class="row text-center login-field bottom-space">
        <span class="note-text">Remember Password?</span>
        <button class="app-btn unfilled green-b green-outline-btn mt-2 mb-2" (click)="login()">Login</button>
    </div>
</form>

<div class="top-space row mt-2" *ngIf="isFormSubmitted">
    <span class="welcome-text">Reset Your Password</span>
    <span class="note-text mt-3">We have sent a reset password email to <span class="user-email">{{getFieldR('username').value}}</span></span>
    <span class="note-text note-text-second">Please click the reset password link to set your new password.</span>
</div>
<div class="top-space email-help-text row mt-2">
    <span class="note-text mt-3">Didn’t receive the email yet?</span>
    <span class="note-text note-text-second">Please check your spam folder, or <a title="resend" class="btn-link resend-btn-link" (click)="submit()">resend</a> the email.</span>

</div>
