@import "/src/app/scss/variables";
.soucs-logo {
    width: 250px;
    height: 60px;
    opacity: 1;
    margin-top: 2%;
    @media screen and (max-width:768px) {
      margin-top: 4%;
    }
}

.welcome-text {
    font-family: 'Ubuntu-Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top:4%;
    @media screen and (max-width:768px) {
        margin-top: unset;
        line-height: 1;
    }
}
.note-text {
    color: $gray-note;
    text-align: center;
}
.note-text-second {
    margin-bottom: 3%;
}
.login-btn {
    margin-top: 3%;
}
.login-field {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    @media screen and (max-width:768px) {
      width: 100%;
      margin-top: unset;
    }
}
.bottom-space {
    margin-top: 13%;
}

.resend-btn-link {
    color: $green;
    text-decoration: none;
    cursor: pointer;
}

.user-email {
    color: $black;
}