<div class="container-fluid">
    <div class="row inner-header-row">
        <div class="col-lg-12">
            <h3>
                <mat-icon class="cursor-p" (click)="backclicked()">arrow_back</mat-icon> School Management
            </h3>
        </div>
        <div>
            <mat-chip-list>
                <mat-chip [selected]="selectedType === 'School'" (click)="selectType('School')">K12</mat-chip>
                <mat-chip [selected]="selectedType === 'University'" (click)="selectType('University')">University</mat-chip>
              </mat-chip-list>
        </div>
    </div>
    <div class="row sub-container">
        <mat-tab-group animationDuration="0ms" [(selectedIndex)]="demo1TabIndex">
            <mat-tab label="{{selectedType}} Details">
                 <app-add-school-form [formType]="selectedType"></app-add-school-form>
            </mat-tab>
            <mat-tab label="Point of Contact" disabled="displayTab">
                <app-add-admin-form></app-add-admin-form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>