<div class="container-fluid">
    <div class="row inner-header-row">
        <div class="col-lg-12">
            <h3>
                <mat-icon class="cursor-p" routerLink="/app-users/dismissed-students">arrow_back</mat-icon> Dismissed
                Student
                Details
            </h3>
        </div>
    </div>
    <div class="row sub-container view-abuse-details">
        <div class="row">
            <div class="col-lg-12 section-heading">
                <h5>Student Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-card class="card-details">
                    <mat-card-header>
                        <mat-card-title>Personal Information</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Name of Student</h5>
                                <span class="normal-txt">{{userInfo?.full_name}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Date of Birth</h5>
                                <span class="normal-txt">{{userInfo?.date_of_birth  | convertToLocalDate}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Email ID</h5>
                                <span class="normal-txt">{{userInfo?.email}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Phone number</h5>
                                <span class="normal-txt">{{userInfo?.phone}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Account Status</h5>
                                <span class="normal-txt">{{userInfo?.account_status}}</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">

                <mat-card class="card-details">
                    <mat-card-header>
                        <mat-card-title>School Information</mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>School Name</h5>
                                <span class="normal-txt">{{schoolInfo?.schoolName}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>NCES ID</h5>
                                <span class="normal-txt">{{schoolInfo?.nces}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>City of School</h5>
                                <span class="normal-txt">{{schoolInfo?.cityName}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>State of School</h5>
                                <span class="normal-txt">{{schoolInfo?.stateName}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>School Admin Name</h5>
                                <span class="normal-txt">{{SchoolAdminInfo?.name}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Admin Email ID</h5>
                                <span class="normal-txt">{{SchoolAdminInfo?.email}}</span>
                            </div>
                        </div>
                        <div class="gutter-space-small"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5>Admin Phone</h5>
                                <span class="normal-txt">{{SchoolAdminInfo?.phone}}</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
        <div class="gutter-space"></div>
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-result">
                    <div class="data-table-container" id="dismissedUserDetail">
                        <table aria-describedby="dismissedUserDetail" mat-table [dataSource]="dataSource" matSort>
                            <!--Dismissed On Column -->
                            <ng-container matColumnDef="creation_time">
                                <th id="creation_time" mat-header-cell *matHeaderCellDef mat-sort-header> Dismissed On
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.creation_time | date: 'MM/dd/y'}}</td>
                            </ng-container>

                            <!-- Dismissed By Column -->
                            <ng-container matColumnDef="dismissed_by">
                                <th id="dismissed_by" mat-header-cell *matHeaderCellDef mat-sort-header> Dismissed By
                                </th>
                                <td mat-cell *matCellDef="let element"> {{element.dismissed_by }} </td>
                            </ng-container>

                            <!-- Dismissed Type -->
                            <ng-container matColumnDef="dismissal_type">
                                <th id="dismissal_type" mat-header-cell *matHeaderCellDef mat-sort-header> Dismissal
                                    Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.dismissal_type | titlecase}} </td>
                            </ng-container>

                            <!-- Dismissal Reason Column -->
                            <ng-container matColumnDef="reason">
                                <th id="reason" class="width-25-percent" mat-header-cell *matHeaderCellDef
                                    mat-sort-header> Dismissal Summary </th>
                                <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
                            </ng-container>

                            <!-- Dismissal explanation -->
                            <ng-container matColumnDef="description">
                                <th id="description" class="width-30-percent" mat-header-cell *matHeaderCellDef
                                    mat-sort-header> Dismissal Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <div *ngIf="!dataSource.data.length" class="no-record-found">
                            <span style="color: #4C356E; font-style: italic; display: inline-flex;">
                                <img alt='' style="margin-right: 5px;"
                                    src="../../assets/images/svg/record_not_found_info_icon.svg">
                                There are no records here at the moment.
                            </span>
                        </div>

                        <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons [length]="count"
                            (page)="handlePage($event)" aria-label="Select page of periodic elements">
                        </mat-paginator>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>