<div class="row password-hints">

    <div class="col-md-6 col-sm-12">
        <div class="col-12 d-inline-flex">
            <span>
                <mat-icon [svgIcon]="passwordHints['minLength'].matIcon" class="icon-size"></mat-icon>
            </span>
            <span matListItemLine> 
                Must contain at least 8 characters (12+ recommended)</span>
        </div>
        <div class="col-12 d-inline-flex mt-2">
            <span matListItemLine>
                <mat-icon [svgIcon]="passwordHints['uppercase'].matIcon" class="icon-size"></mat-icon>
                One uppercase letter</span>
        </div>
        <div class="col-12 d-inline-flex mt-2">
            <span matListItemLine>
                <mat-icon [svgIcon]="passwordHints['lowercase'].matIcon" class="icon-size"></mat-icon>
                At least one Lower case letter</span>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="col-12 d-inline-flex">
            <span matListItemLine>
                <mat-icon [svgIcon]="passwordHints['number'].matIcon" class="icon-size"></mat-icon>
                One number</span>
        </div>
        <div class="col-12 d-inline-flex mt-2">
            <span><mat-icon [svgIcon]="passwordHints['specialChar'].matIcon" class="icon-size"></mat-icon></span>
            <span matListItemLine>
                At least one special Character<br>{{specialChars}}</span>
        </div>
    </div>
</div>
